<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83434522931-c781ng59lm23m4ggpe7lulht9odcaboh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83434522931-c781ng59lm23m4ggpe7lulht9odcaboh</string>
	<key>API_KEY</key>
	<string>AIzaSyAINeMHoZVd7oQYdzD7WEkiykDkjKk2vKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>83434522931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SimonPaul.JournalingAppSP</string>
	<key>PROJECT_ID</key>
	<string>journal-app-a263c</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-app-a263c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83434522931:ios:e3f986595fc5bbb783d646</string>
</dict>
</plist>